body{
    font:bold 15pt Arial;
    background: url(imagem/image.jpg) no-repeat;
    background-position: 100%;
    background-size: 100%;
    background-attachment: fixed;
}
div{
    width: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
}
h1{
    color: white;
    text-align: center;
}